.root {
	-fx-background-color: #c629cd;
}

#eight-ball {
	-fx-background-color: #000000;
}

#label-ball {
	-fx-fill: #FFFFFF;
}

#label {
	-fx-font-size: 100;	
}

#label-ball.shaken {
	-fx-background-color: #000000;
}

#label.answer {
	-fx-font-size: 40;
}